	{% load static %}
	
 	<nav class="navbar mynav">
	  <div class="container">
		  <a href="#">
			  <img class="headerImage"  src="{% static "img/xmipp_logo_normal.png" %}">
		  </a>
		  <div class="headerTitle">
		  		Xmipp
		  </div>
		  <div class="logoLine">
		  		<a href="http://www.cnb.csic.es/">
				  <img class="logosLine" src="{% static "img/cnb-logo.jpg" %}" /></a>
				<a href="http://i2pc.cnb.csic.es/LoadHome.htm">	
				  <img class="logosLine" src="{% static "img/i2pc_color.png" %}" /></a>

		  </div>
	  </div>
  </nav>
