	{% load static %}
	
 	<nav class="navbar mynav">
	  <div class="container">
		  <div class="headerTitle">
			<a href="#">
				<img class="headerImage"  src="{% static "img/xmipp_noBackground.png" %}">
			</a>		  </div>
		  <div class="logoLine">
		  		<a href="http://www.cnb.csic.es/">
				  <img class="logosLine" src="{% static "img/CNB_BN.png" %}" /></a>
				<a href="http://i2pc.es/">
				  <img class="logosLine" src="{% static "img/i2pc_black.png" %}" /></a>
				  <a href="https://biocomputingunit.es/">
					<img class="logosLine" src="{% static "img/Biocomp_Logo_Black.png" %}" /></a>

		  </div>
	  </div>
  </nav>
